<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Users</title>
</head>
<body>
  {{range .Results}}
  <h1>Title:</h1>
  <p>{{.Name.Title}}</p>
  <hr>
  <h1>Name:</h1>
 <p>{{.Name.First}} {{.Name.Last}}</p>
 <hr>
 <h1>Location:</h1>
  <h3>City:</h3>
  <p>{{.Location.City}}</p>
<h3>State:</h3>
 <p>{{.Location.State}}</p>
 <h3>Country:</h3>
 <p>{{.Location.Country}}</p>
 <hr>
 <h1>Email:</h1>
 <p>{{.Email}}</p>
 <hr>
 <h1>Picture:</h1>
<img src="{{.Picture.Large}}" width="250" alt="Picture">
{{end}}
<br>
<a href="/">Refresh</a>
</body>
</html>
